    <!-- Footer -->

    <footer id="footer">
      <ul class="icons">
        <li><a href="https://www.instagram.com/filosoho/?hl=en" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
        <li><a href="https://github.com/filosoho" class="icon brands fa-github" target="_blank"><span class="label">Github</span></a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; <script>document.write(new Date().getFullYear())</script> Filosoho Space. All Rights Reserved</li>
      </ul>
    </footer>

    <script src="https://kit.fontawesome.com/283242ccc3.js" crossorigin="anonymous"></script> 
  </body>
</html>